/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --decor-text-color: #000028;
  --accent-color: #d800ff;
  --title-accent: #ff0070;
  --accent-color-shadow: #ff0070;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --neon-decorate: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --button-text-color: #ff0070;
  --neon-border: #ff0070;
  --hover-border-color: rgb(255 0 112/ 0.4);
}

@media (prefers-color-scheme: dark) {

  .page {
    --decor-text-color: #000028;
    --accent-color: #d800ff;
    --title-accent: #ff0070;
    --accent-color-shadow: #ff0070;
    --background-color: #000028;
    --text-color: #f1b2ce;
    --neon-decorate: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --button-text-color: #ff0070;
    --neon-border: #ff0070;
    --hover-border-color: rgb(255 0 112/ 0.4);
  }
}
