:root {

  
  --background-color: #fff1f7;
  --accent-color: #ffc2e6;
  --title-accent: #ff8dcb;

  --accent-color-shadow: #ff0070; 
  --neon-decorate: transparent;
  --neon-border: #000;
  --text-color: #000;
  --decor-text-color: #000;
  --background-image: url(../images/cover-image-light.png);
  --font-family: 'IBM Plex mono';
  --button-text-color: #353430;
  --hover-border-color: rgb(50 49 45/ 0.4);
}

